body {
    background-color: #FAFAFA;
    margin: 0;
}

.menu-principal1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    width: 100%;
    border-bottom: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
}

.menu-principal1 a {
    text-decoration: none;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
    margin-right: 30px;
}

.logo {
    display: flex;
    margin-left: 2%;
}

.menu-items {
    display: flex;
    align-items: center;
    /* Centre verticalement */
    margin-left: 25%;
}

footer {
    background-color: white;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 1px 10px #E10606;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: block;
    border-top: 2px solid;
}

footer a {
    color: #E10606;
}

#close-button {
    font-family: "Montserrat", sans-serif;
    border: none;
}

#conditions-link {
    border: none;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer horizontalement */
    justify-content: center;
    /* Centrer verticalement */
    text-align: center;
    /* Centrer le texte horizontalement */
}

#footer {
    display: flex;
    justify-content: center;
}

.centered-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer horizontalement */
}

footer p {
    color: #595656;
}

/* Formulaire */
.formulaire {
    font-weight: bold;
    border: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
    border-radius: 15px;
    display: flex;
    /* Utiliser flexbox pour centrer les éléments */
    justify-content: center;
    /* Centrer horizontalement */
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.1em;
    /* Ajustez cette valeur selon vos besoins */
    padding-left: 10rem;
    padding-right: 10rem;
}

/* Champ où l'utilisateur rempli ces informations */
input {
    background-color: white;
    margin-top: 6%;
    border-radius: 10px;
    margin-bottom: 6%;
    padding: 4%;
    border: none;
    border-bottom: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
}

/* Bouton envoyer */
button {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    border-radius: 50px;
    padding: 3%;
    margin-top: 4%;
    border: none;
    color: #595656;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-bottom: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
}

/* Affiche le message d'erreur */
.error {
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* Couleur du texte en rouge */
    font-size: 0.8em;
    /* Taille de la police plus petite */
    margin-left: 10px;
    /* Marge à gauche pour l'espace */
}

main {
    color: #595656;
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    padding-top: 6rem;
    padding-bottom: 6rem;
}

form {
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#boutonEnvoyer:hover {
    cursor: pointer;
    /* Change le curseur en une main pointer */
}

#boutonEnvoyer {
    margin-top: 7%;
}

h2 {
    display: flex;
    justify-content: center;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-right: 20%;
}

header img {
    border-radius: 15px;
    border: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
}

.menu-icon,
.menu {
    display: none;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
    .menu-items {
        display: none;
    }

    h2 {
        font-size: small;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    .menu-principal1 img {
        width: 2rem;
        border-radius: 5px;
    }

    footer a {
        font-size: x-small;
    }

    footer p {
        font-size: xx-small;
    }

    .menu-icon {
        display: flex;
        /* Afficher l'icône de menu sur les petits écrans */
        align-items: center;
        padding-right: 0.5rem
    }

    button {
        cursor: pointer;
        color: #E10606;
        border: none;
        background: none;
        font-size: 1.5rem;
        margin-left: auto;
        display: contents;
    }

    .menu-principal1 {
        display: flex;
        justify-content: space-between;
        /* Pour aligner les éléments de manière uniforme */
        align-items: center;
        /* Pour centrer verticalement les éléments */
    }


    .liste {
        display: none;
        /* Cache la liste par défaut */
        font-size: xx-small;
    }

    .liste a {
        display: block;
    }

    .formulaire {
        padding: 0rem;
        font-weight: bold;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        /* épaisseur de la bordure */
        box-shadow: 0px 0px #6b6a6a;
        color: #6b6a6a;
        border-radius: 10px;
    }

    .formulaire label {
        padding: 2rem;
    }

    .formulaire input {
        padding: 0.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    #boutonEnvoyer {
        /* Bouton envoyer */
        display: flex;
        border-radius: 50px;
        padding: 2%;
        margin-top: 0rem;
        border: none;
        color: #595656;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        border-bottom: 2px solid;
        /* épaisseur de la bordure */
        box-shadow: 0 1px 10px #6b6a6a;
        font-size: small;
        /* Ajustez la largeur de l'élément selon vos besoins */
        margin-left: auto;
        margin-right: auto;
    }

    .boutonPartage {
        margin-bottom: 3rem;
    }

    .formulaire form {
        margin-top: 3rem;
    }

    label {
        font-size: medium;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    footer a {
        font-size: medium;
    }

    footer p {
        font-size: small;
    }

    h2 {
        font-size: small;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    .menu-principal1 img {
        width: 2rem;
        border-radius: 5px;
    }

    .menu-principal1 {
        display: flex;
        justify-content: space-between;
        /* Pour aligner les éléments de manière uniforme */
        align-items: center;
        /* Pour centrer verticalement les éléments */
    }

}

@media screen and (height: 896px) {
    footer {
        margin-top: 2.25rem;
    }

    header {
        margin-bottom: 2.25rem;
    }
}

@media screen and (height: 844px) {
    footer {
        margin-top: 0.8rem;
    }

    header {
        margin-bottom: 0.8rem;
    }
}

@media screen and (height: 851px) {
    footer {
        margin-top: 1rem;
    }

    header {
        margin-bottom: 1rem;
    }
}

@media screen and (height: 915px) {
    footer {
        margin-top: 3rem;
    }

    header {
        margin-bottom: 3rem;
    }
}

@media screen and (height: 932px) {
    footer {
        margin-top: 3.5rem;
    }

    header {
        margin-bottom: 3.5rem;
    }
}

@media screen and (height: 1180px) {
    footer {
        margin-top: 8rem;
    }

    header {
        margin-bottom: 8rem;
    }
}

@media screen and (height: 1024px) {
    footer {
        margin-top: 3.5rem;
    }

    header {
        margin-bottom: 3.5rem;
    }
}

@media screen and (height: 1368px) {
    footer {
        margin-top: 13.8rem;
    }

    header {
        margin-bottom: 13.8rem;
    }
}

@media screen and (height: 653px) {
    .formulaire {
        width: 0px;
    }
}

@media screen and (height: 914px) {
    footer {
        margin-top: 3rem;
    }

    header {
        margin-bottom: 3rem;
    }
}

@media screen and (height: 1366px) {
    footer {
        margin-top: 13.8rem;
    }

    header {
        margin-bottom: 13.8rem;
    }
}

@media screen and (height: 1280px) {
    footer {
        margin-top: 11.2rem;
    }

    header {
        margin-bottom: 11.2rem;
    }
}