body {
    margin: 0;
    background-color: #FAFAFA;
}

.menu-principal1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    border-bottom: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
}

.menu-principal1 a {
    text-decoration: none;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
    margin-right: 30px;
}

.main-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 0 8rem;
    color: #595656;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.logo {
    display: flex;
    margin-left: 2%;
}

.menu-items {
    display: flex;
    align-items: center;
    /* Centre verticalement */
    margin-left: 25%;
}

footer {
    background-color: white;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 1px 10px #6b6a6a;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: block;
    border-top: 2px solid;
}

img {
    border-radius: 15px;
    border: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
}

span {
    color: #E10606;
}

main h1,
h2,
h3 {
    color: #E10606;
}

h2 {
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-size: 1.3rem;
}

.map-photo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
}

.map-photo p {
    padding-left: 1rem;
}

.map-photo span {
    display: block;
}

main a {
    color: #E10606;
}

footer a {
    color: #E10606;
}

#close-button {
    font-family: "Montserrat", sans-serif;
    border: none;
}

#conditions-link {
    border: none;
}

.activites p {
    padding-bottom: 1rem;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer horizontalement */
    justify-content: center;
    /* Centrer verticalement */
    text-align: center;
    /* Centrer le texte horizontalement */
}

#footer {
    display: flex;
    justify-content: center;
}

.centered-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer horizontalement */
}

#popup {
    color: #595656;
}

.menu-icon,
.menu {
    display: none;
}

.menu-principal2 {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.activites p {
    padding-bottom: 2rem;
}

video {
    width: 45rem;
    height: 30rem;
    border-radius: 15px;
    box-shadow: 0 1px 10px #6b6a6a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {

    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
    .main-text {
        padding-right: 2.7rem;
        padding-left: 2.7rem;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }

    .activites p {
        padding-bottom: 1rem;
    }

    .menu-principal2 img {
        width: 2rem;
        border-radius: 5px;
    }

    .map-photo {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .map-photo p {
        display: table-row;
    }

    .menu-items {
        display: none;
    }

    .map-photo span {
        padding-top: 0.5rem;
    }

    .map-photo img {
        display: none;
    }

    p,
    h3 {
        font-size: x-small;
    }

    h2 {
        font-size: small;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    .menu-principal1 img {
        width: 2rem;
        border-radius: 5px;
    }

    footer a {
        font-size: x-small;
    }

    footer p {
        font-size: xx-small;
    }

    .menu-icon {
        display: flex;
        /* Afficher l'icône de menu sur les petits écrans */
        align-items: center;
    }

    button {
        cursor: pointer;
        color: #E10606;
        border: none;
        background: none;
        font-size: 1.5rem;
        margin-left: auto;
    }

    .menu-principal1 {
        display: flex;
        justify-content: space-between;
        /* Pour aligner les éléments de manière uniforme */
        align-items: center;
        /* Pour centrer verticalement les éléments */
    }

    .liste {
        display: none;
        /* Cache la liste par défaut */
        font-size: xx-small;
    }

    .liste a {
        display: block;
    }

    .video {
        display: none;
    }

    .h3 {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .h3 {
        display: none;
    }

    footer a {
        font-size: medium;
    }

    footer p {
        font-size: small;
    }

    .map-photo {
        display: block;
    }

    .map-photo p {
        display: table-row;
    }

    .map-photo span {
        padding-top: 1rem;
    }

    .map-photo img {
        display: none;
    }

    .menu-principal1 {
        display: flex;
        justify-content: space-between;
        /* Pour aligner les éléments de manière uniforme */
        align-items: center;
        /* Pour centrer verticalement les éléments */
    }

    .menu-principal1 img {
        width: 2rem;
        border-radius: 5px;
    }

    .video {
        display: none;
    }

}

@media screen and (height: 896px) {
    footer {
        margin-top: 3.6rem;
    }

    .main-text {
        padding-top: 3rem;
    }
}

@media screen and (height: 844px) {
    footer {
        margin-top: 1.7rem;
    }

    .main-text {
        padding-top: 1.7rem;
    }
}

@media screen and (height: 851px) {
    footer {
        margin-top: 1.9rem;
    }

    .main-text {
        padding-top: 1.9rem;
    }
}

@media screen and (height: 915px) {
    footer {
        margin-top: 4rem;
    }

    .main-text {
        padding-top: 3rem;
    }
}

@media screen and (height: 932px) {
    footer {
        margin-top: 7rem;
    }

    header {
        margin-bottom: 2rem;
    }
}

@media screen and (height: 1368px) {
    footer {
        margin-top: 0rem;
    }
}

@media screen and (height: 914px) {
    footer {
        margin-top: 5.5rem;
    }

    .main-text {
        padding-top: 3rem;
    }
}

@media screen and (height: 720px) {
    footer {
        margin-top: 2.5rem;
    }
}

@media screen and (height: 812px) {
    footer {
        margin-top: 3rem;
    }
}

@media screen and (height: 1366px) {
    footer {
        margin-top: 0rem;
    }
}